---
layout: page
---
{%- if site.posts.size > 0 -%}
<ul class="posts">
		
	<li><div class="post-meta">
			<a class="post-link" href="/">
				<h2 class="post-title">Perfil</h2>
			</a>
			
		</div>
		<div class="post"><h3>Vida Profesional y Academica</h3>

<p>Hola, Mi nombre completo es Tomàs Francisco Sozoranga Villacreses soy de Guayaquil naci el 1 de mayo del 2000, tengo 19 años mi estatura es de 1 metro y 75 centimetros  mis estudios los realize en el colegio Unidad Educativa Aguilas de Cristo me gradue con la especialización de informatica actualmente estudio en la Universidad de Guayaquil  en la carrera Ingenieria en Software </p>			
<center></center>
<p><b>Ambito Profesional:</b><br>
-Mi especialización es en Ingeniería en software seguir preparandome a lo largo de lo que me queda de la carrera realizar practicas   diseñar soluciones de software (programas) en distintos lenguajes de programación, crear, diseñar, y administrar bases de datos relacionales.Comprender mis objetivos cumplirlos superarme formarme como un profesional con experiencias.<br>
</p><p><b>Ambito Laboral:</b><br>
-Al inicio de un proyecto, los ingenieros del software deben conocer el negocio del cliente y sus necesidades y problemas particulares.Administrador de proyectos de software, administrador de proyectos de tecnología de información, administrador de sistemas, analista de sistemas, arquitectura de software,&nbsp;etc.<br>
</p><p><b>Ambito Academico:</b><br>
-Objetivo  mi titulo univerisitario seguir con la  especialización  conseguir la masterado phd.<br>
-Contribuir a un nuevo desarrollo de  software aplicativos  proyectos plan de negocios con resultados existosos.<br>
El principal inconveniente del modelo de la cascada es la dificultad de acomodar el cambio después de que está en marcha el proceso. En principio, una fase tiene que ser completada antes de pasar a la siguiente fase.</p>
</div>
	</li>
	
	
	

	{%- for post in site.posts -%}
	<li>
		{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
		<div class="post-meta">
			<a class="post-link" href="{{ post.url | relative_url }}">
				<h2 class="post-title">{{ post.title | escape }}</h2>
			</a>
			<div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }}</div>
		</div>
		<div class="post">
			{%- if site.show_excerpts -%}
			{{ post.excerpt }}
			{%- endif -%}
		</div>
	</li>
	{%- endfor -%}
</ul>
{%- endif -%}

